<h1>OZONE APP!!!</h1>
<div class="jumbotron <%= @api_color %>">
  <h1 class="display-4"><%= @final_output %></h1>
  <p class="lead">This is the current ozone score for <%= @report_area %>, zipcode <%= @zip_query %> !!!</p>
  <hr class="my-4">
  <p><%= @api_description %></p>
</div>
